@font-face {
	font-family: 'lg';
	src: url(../../assets/fonts/lgd641.eot?n1z373=) format('embedded-opentype'),
	url(../../assets/fonts/lgd41d.eot) format('embedded-opentype'),
	url(../../assets/fonts/lgd641.woff?n1z373=) format('woff'),
	url(../../assets/fonts/lgd641.ttf?n1z373=) format('truetype'),
	url(../../assets/fonts/lgd641.svg?n1z373=) format('svg');
	font-weight: normal;
	font-style: normal;
}