.text-hi {
  color: #e50000 !important;
}

.btn-outline-danger {
  color: #003f9c !important;
  border-color: #003f9c !important;
}

.btn-outline-danger:hover {
  background-color: #4CAF50;
  color: white;
}

.ourworks {
  padding-top: 45px;
}

